.comment-wrapper {
	display: flex;
	display: flex;
	align-items: center;
	max-width: 900px;
	font-family: 'Mada';
}

.commenter-account-details {
	margin-left: 16px;
}

.commenter-account-details img {
	width: 40px;
	height: 40px;
	border: 0.5px solid #b5b5b5;
	border-radius: 50%;
}

.commenter-account-details span {
	color: #4b4b4b;
	font-size: 14px;
	margin-left: 10px;
}

.comment-content {
	display: flex;
	flex-direction: column;

	margin-left: 14px;
}

.commenter-username {
	color: #4b4b4b;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 4px;
}

.comment-text {
	word-wrap: break-word;
	overflow-wrap: break-word;

	color: #4b4b4b;
	font-size: 30px;
	margin-bottom: 4px;
}

.comment-utils {
	display: flex;
	align-items: center;
}

.comment-utils > *:not(:last-child) {
	margin-right: 20px;
}

.comment-like-btn {
	border: none;
	background-color: inherit;
	padding: 0;
}

.comment-like-btn svg {
	width: 20px;
	height: 20px;
}

.comment-util-btn {
	border: none;
	background-color: inherit;

	font-family: 'Mada';
	font-size: 18px;
	font-weight: bold;
	color: #b5b5b5;
}

.comment-util-btn:hover {
	cursor: pointer;
}

.comment-util-label {
	font-family: 'Mada';
	font-size: 18px;
	font-weight: bold;
	color: #b5b5b5;
}
