.post-wrapper {
    border: 1px solid grey;

    

}

.follower-props {
	padding-left: 20px;
	display: flex;
	justify-content: flex-start;
}

.actions-wrapper{
	display: flex;
	justify-content: space-evenly;
	gap: 10px;
}