.popup-container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);

	display: flex;
	justify-content: center;
	align-items: center;

	::-webkit-scrollbar {
		width: 2px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: #dbdbdb;
		border-radius: 4px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #c0c0c0;
	}
}

.popup-body {
	position: absolute;
	background: #ffffff;
	border: 3px solid #b5b5b5;
	padding: 10px;
}

.close-btn-wrapper {
	display: flex;
	justify-content: flex-end;
}

.close-btn-wrapper button {
	border: none;
	background-color: #ffffff;
}

.close-btn-wrapper button:hover {
	cursor: pointer;
	opacity: 0.5;
}

.close-btn-wrapper button svg {
	width: 40px;
	height: 40px;
}
