.button-classname {
	width: 120px;
	height: 40px;
	box-sizing: border-box;
	color: #FFFFFF;
	background-color: #F64D4D;
	border: 1px solid transparent;
	border-radius: 20px;
}

.button-classname:hover {
	color: #F64D4D;
	background-color: #FFFFFF;
	border: 1px solid #F64D4D;
	cursor: pointer;
}

.button-classname:disabled {
	color: #FFFFFF;
	background-color: #F64D4D;
	cursor: pointer;
	opacity: 0.5;
}