.sign-up-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	width: 600px;
	height: 800px;

	border: 2px solid #B5B5B5;
}

.sign-up-section h1 {
	font-size: 26px;
	font-family: "Mada";
	color: #B5B5B5;
}

.logo-color {
	color: #F64D4D;
	font-size: 40px;
	margin-bottom: 10px;
}

.sign-up-form {
	border-top: 1px solid #B5B5B5;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-wrapper {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;

	width: 450px;
	height: 60px;

	margin-bottom: 30px;
}

.input-wrapper input {
	width: 100%;
	height: 40px;

	border: 1px solid #B5B5B5;
	font-size: 20px;
	font-family: "Mada";
	color: #B5B5B5;
}

.input-wrapper input:focus {
    outline: none;
}

.login-link {
	font-size: 20px;
	font-family: "Mada";
	color: #B5B5B5;
}

.login-link a {
	text-decoration: none;
	color: #B5B5B5;
	text-decoration: underline;
}
