.add-image-post-form {
	height: 500px;
	width: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.add-image-post-form h1 {
	font-size: 28px;
	font-family: "Mada";
	color: #B5B5B5;
}

.button-row {
	width: 290px;
	display: flex;
	justify-content: space-between;
}